* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 75px; 
  background-color: #ffffff; 
  color: #000000;
  font-family: 'Inter', sans-serif;
}

nav {
  background-color: #000000;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  
  box-shadow: 0 3px 18px rgba(255, 0, 0, 0.4); 
  
  border-bottom: 2px solid rgba(255, 0, 0, 0.2);
}

.nav-logo {
  height: 65px;
  width: auto;
  object-fit: contain;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

nav ul li a {
  color: #cccccc;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

nav ul li a:hover {
  color: #f7f2f2;
  text-shadow: 0 0 8px rgb(252, 0, 0);
}

#welcome-msg {
  color: #cccccc;
  text-shadow: 0 0 8px rgba(239, 233, 233, 0.778);
  font-size: 19px;
  padding-right: 20px;
}

.sign-out-link {
  color: #ff4d4d !important;
  border: 1px solid #ff4d4d;
  padding: 7px 15px !important;
  border-radius: 6px;
  font-size: 13px;
  transition: 0.3s;
  text-shadow: 0 0 8px rgba(66, 1, 1, 0.778);

}

.sign-out-link:hover {
  background-color: #ff4d4d;
  color: #ffffff !important;
  box-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
  text-shadow: 0 0 8px rgba(66, 1, 1, 0.778);

}